* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*:after, *::before {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #26272b;
  color: #f3f4f9;
}

.navbar {
  height: 3rem;
  width: 100%;
  color: white;
  background-color: #3e4046;
  display: flex;
}
.navbar > * {
  display: flex;
  align-items: center;
}
.navbar .menu-hub {
  margin-left: auto;
  padding: 8px;
  z-index: auto;
}
.navbar .menu-hub.open {
  z-index: 1024;
}
.navbar .menus {
  position: fixed;
  display: none;
  background-color: rgba(38, 39, 43, 0.9);
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
}
.navbar .menus ul {
  list-style: none;
}
.navbar .menus ul.items {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.navbar .menus ul.items .item {
  margin: 0.3rem 0rem;
}
.navbar .menus ul.items .item a {
  display: block;
  background-color: rgba(38, 39, 43, 0.8);
  text-align: center;
  padding: 0.5rem 1rem;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar .menus ul.items .item a:hover {
  background-color: #256d0c;
}
@keyframes slidein {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.navbar .menus.open {
  display: block;
  animation: slidein 0.3s;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container .caption {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
  height: 100vh;
  align-items: stretch;
}
.container .caption .body {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.container .caption .body .btn {
  margin-top: 2rem;
}
.container.sign .cover img {
  width: 100%;
}
.container.sign .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container.sign .card .card-head {
  border-bottom: 1px solid #5ce72b;
  padding: 8px 2px;
  background-color: #565861;
  width: 80vw;
}
.container.sign .card .card-body {
  padding: 8px 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container.sign .card .card-body .input-group {
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
}
.container.sign .card .card-body .input-group input[type=text], .container.sign .card .card-body .input-group input[type=password] {
  border: none;
  font-size: 1.2em;
  background-color: transparent;
  border-bottom: 1px solid gray;
  transition: border 0.3s ease-in;
}
.container.sign .card .card-body .input-group input[type=text]:focus, .container.sign .card .card-body .input-group input[type=password]:focus {
  outline: none;
  border-bottom: 1px solid #5ce72b;
}
.container.sign .card .card-body a.text-mute {
  font-size: 0.82em;
}

img.cover {
  height: 45vh;
}
img.cover:after {
  position: absolute;
  content: "";
}

button {
  padding: 6px 12px;
  outline: none;
  border: none;
}
button.btn {
  background-color: #5ce72b;
}
button.btn:hover {
  transition: all 0.3s ease-in-out;
  background-color: #45c817;
  color: #f3f4f9;
}

.hambaga {
  overflow: visible;
}
.hambaga line {
  transition: all 0.25s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
.hambaga.open .middle {
  opacity: 0;
  transform: rotate(90deg) translateX(100%);
}
.hambaga.open .top {
  transform-origin: 50% 50%;
  transform: rotate(45deg) translateY(30%);
}
.hambaga.open .bottom {
  transform-origin: 50% 50%;
  transform: rotate(-45deg) translateY(-30%);
}

.progresion {
  width: 100%;
}

.brand-logo-text {
  fill: #5ce72b;
}

/*# sourceMappingURL=style.css.map */
