@import "./variable_more";

//reset default padding and margin

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    &:after,&::before{
        box-sizing: border-box;
    }
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: $backgroundColor;
    color: $textColor;
}
.navbar{
    height: 3rem;
    width: 100%;
    color:white;
    background-color: lighten($color: $backgroundColor, $amount: 10);
    display: flex;
    >*{
        display: flex;
        align-items: center;
    }
    .menu-hub{
        margin-left: auto;
        padding: 8px;
        z-index: auto;
        &.open{
            z-index: 1024;
        }
    }
    .menus{
        position: fixed;
        display:none;
        background-color: transparentize($color: $backgroundColor, $amount: 0.1);
        backdrop-filter: blur(2px);
        width: 100vw;
        height: 100vh;
        ul{
            list-style: none;
            &.items{
                margin-top: 3rem;
                display: flex;
                flex-direction: column;
                .item {
                    margin: 0.3rem 0rem;
                        a{
                            display: block;
                            background-color: transparentize($color: $backgroundColor, $amount: 0.2);
                            text-align: center;
                            padding: 0.5rem 1rem;
                            padding-left: 0px;
                            padding-right: 0px;
                            &:hover{
                                background-color: darken($color: $primaryColor, $amount:30);
                            }
                    }
                }
            }
        }
    
    @keyframes slidein {
        from{
            transform: translate3d(100%, 0, 0);
            visibility: visible;
        }
        to{
            transform: translate3d(0, 0, 0);
        }
    }
    &.open{
        display: block;
        animation: slidein 0.3s;
    }
    }
}
a{
    text-decoration: none;
    color:currentColor;
}
.container{
    .caption{
        display: flex;
        padding: 8px;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        .body{
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            .btn{
                margin-top: 2rem;
            }
        }
    }

    &.sign{

        .cover{
            img{
                width: 100%;
            }
        }
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            .card-head{
                border-bottom: 1px solid $primaryColor;
                padding: 8px 2px;
                background-color: lighten($color: $backgroundColor, $amount: 20);
                // align-self: stretch;
                width: 80vw;
            }
            .card-body{
                padding: 8px 2px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .input-group{
                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    display: flex;
                    flex-direction: column;
                    padding: 8px 0px;
                    input[type=text],input[type=password]{
                        border: none;
                        font-size: 1.2em;
                        background-color: transparent;
                        border-bottom: 1px solid gray;
                        transition: border 0.3s ease-in;
                        &:focus{
                            outline: none;
                            border-bottom: 1px solid $primaryColor;
                        }
                    }
                    
                }
                a.text-mute{
                    font-size: 0.82em;
                }
            }
        }
    }

}
img.cover{
    height: 45vh;
    &:after{
        position: absolute;
        content: "";
    }
}
button{
    padding: 6px 12px;
    outline: none;
    border: none;
    &.btn{
        background-color: $primaryColor;
        &:hover{
            transition: all 0.3s ease-in-out;
            background-color: darken($color: $primaryColor, $amount: 10);
            color: $textColor;
        }
    }
}


.hambaga{
    overflow: visible;
    line{
        transition: all 0.25s cubic-bezier(0.64, 0.57, 0.67, 1.53);
    }
     &.open{
         .middle{
            opacity: 0;
            transform:  rotate(90deg) translateX(100%);
         }
         .top{
            transform-origin: 50% 50%;
            transform: rotate(45deg) translateY(30%);
         }
         .bottom{
            transform-origin: 50% 50%;
            transform: rotate(-45deg) translateY(-30%);
         }
     }
}

.progresion{
    width: 100%;
}

.brand-logo-text{
    fill:$primaryColor;
}


@keyframes moveXp{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(-100vw);
    }
}

@keyframes moveXn{
    0%{
        transform: translateX(0vw) rotate(180deg);
    }
    100%{
        transform: translateX(200vw) rotate(180deg);
    }
}

@keyframes moveYp{
    0%{
        transform: translateY(100vw) rotate(90deg);
    }
    100%{
        transform: translateY(-100vw) rotate(90deg);
    }
}

@keyframes moveYn{
    0%{
        
        transform: translateY(0vw) rotate(-90deg);
    }
    100%{
        transform: translateY(200vw) rotate(-90deg);
    }
}

// @keyframes moveXp{
//     0%{
//         transform:rotate(-90deg) translateX(100vh);
//     }
//     100%{
//         transform:rotate(-90deg) translateX(-100vh);
//     }
// }

#err{
    animation: moveXn 0.5s linear;
}

.bgound{
    pointer-events: none;
}